body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.main{
    background-color: #202124;
    width: 100%;
    height: 100vh;
    position: relative;
    .header_secation{
        height: 60px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 15px;
        grid-gap: 22px;
        .text{
            display: flex;
            grid-gap: 10px;
            a{
                color: #fff;
                font-size: 13px;

            }
        }
        .icons_images{
            display: flex;
            grid-gap: 8px;
            align-items: center;
            .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                color: #fff;
                transition: all .5s;
                cursor: pointer;
                font-size: 20px;
                &:hover{
                    background-color: rgb(46, 45, 45);
                }
            }
            .image{
                width: 38px;
                height: 38px;
                overflow: hidden;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                &:hover{
                     background-color: rgb(46, 45, 45);
                }
                img{
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }
}